


header{

  margin-bottom: 0px;

  color: white;
  border-radius:  0px 15px;
  padding-top: 30px;
  font-family: sans-serif;
  margin-left: auto;
  margin-right: auto;

}



.Support:hover{
  background-color: #ec0e0e;
  box-shadow: 0px 0px 25px #ec0e0e;
}

.About:hover{
  background-color: #ec0e0e;
  box-shadow: 0px 0px 25px #ec0e0e;
}



nav {
  color: white;
}

a{
  font-size: 18px;
  color: rgb(0, 0, 0);
  text-decoration: none; 
  border: 2px solid;
  padding: 5px;
  border-radius: 10px;
}

li a:hover{
  color: black;
  border-bottom: 2px solid #000;
  font-size: 19px;
}

ul{
 display: flex;
 justify-content: stretch;
 list-style-type: none;
 margin-bottom: -10px ;
}


.space{
  margin-top: 20px;
}






h1{

  text-align: center;

  width: 40%;
  background-color: rgb(94, 89, 89);;
  border-radius: 15px;

  padding: 10px 10px 10px 10px;
  margin-bottom: 0px;
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
  
}

h2{

  text-align: center;

  width: 40%;
  
  background-color: rgb(94, 89, 89);;
  border-radius: 15px;

  padding: 10px;
  margin-bottom: 0px;
  margin: -30px 0 0 0;
  margin-left: auto;
  margin-right: auto;
}

section{

  margin-bottom: 53px;
  margin-top: 50px;
  text-align: center; 
  box-shadow: 5px 5px 25px rgb(146, 143, 143) ;
  border-radius: 10px;
  width: 97%;
  margin-left: auto;
  margin-right: auto;
  padding: 81px 0;
  color: #fff;


}

.left-section h5{
  font-family: cursive;
  font-size: 22px;
  padding-bottom: 10px ;
}

.left-section a{
  
  
  color: #000;
  border-radius: 10px;
  padding: 5px 13px;
  
  
}
.iam{
  padding-bottom: 0px;
}

.left-section a:hover{
  font-size: 19px;
  background-color: #ec0e0e;
  box-shadow: 0px 5px 25px #ec0e0e;
  font-family: sans-serif;

  
}



.Change{
  border: 2px solid;
  border-radius: 10px;
  padding: 5px;
  margin-top: -5px;
}



.chat:hover{
  margin-top: 5px 0 0 0;
  font-family: "Vibur", serif;
  font-size: 19px;
}

.left-section p{
  font-size: 20px;
  font-family: cursive;

  padding-bottom: 15px;
  
}




.right-section h5{
  font-family: 'Pacifico';
  font-size: 22px;
}




.div{
  display: flex
  
  
}


}

article h4{
  margin-top: 5px 0 0 0;
  font-family: "Pacifico", serif;
  font-size: 22px;
}

article p{
  margin-top: 5px 0 0 0 ;
  font-family: sans-serif;
  font-size: 19px;
}

.left-section h4{
  padding: 13px ;
  font-size: 26px;
}



article .para{
  padding: 0;
}


.center-border {
  
  height: 100px; 
  background-color: rgb(255, 255, 255); 
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  border: 2px solid rgb(44, 3, 3) ;
  margin-top: 10%; */
}


.card{
  margin-left: auto;
  margin-right: auto;
  margin-top: 35px;
  border-radius: 30px;
  box-shadow: 0 0 25px rgb(146, 143, 143) ;
}

.card-img-top{
  padding-left: 15px;
}


.btn:hover{
  box-shadow: 0px 0px 25px blue;
}



footer{

  text-align: center; 
  background-color:rgb(94, 89, 89);
  height: 55px;
  border-radius: 10px 10px 0px 0px ;

  box-shadow: 5px 5px 25px rgb(146, 143, 143) ;
}



.Designed{
  font-size: 20px;
  padding: 18px;
}

footer a{
  border: 2px solid;
  border-radius: 10px;
  padding: 5px;
  
}


footer a:hover{
  font-size: 19px;
  background-color: #ec0e0e;
  box-shadow: 0px 5px 25px #ec0e0e;

}



.rakkas-regular {
  font-family: "Rakkas", serif;
  font-weight: 400;
  font-style: normal;
}

.leckerli-one-regular {
  font-family: "Leckerli One", serif;
  font-weight: 400;
  font-style: normal;
}

.vibur-regular {
  font-family: "Vibur", serif;
  
}
































